<!--
######################################################################
# File:     homepage.html
# Authors:  Irfan Khan               999207665
#           Larissa Ribeiro Madeira 1003209173
# Data:     November 2017
# Purpose:  User Homepage.
######################################################################
-->

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dashboard</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body>


<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper" class="open">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
			  <a href="#">Menu</a>
			</li>
			<li>
			  <a href="/homepage">Dashboard</a>
			</li>
			<li>
			  <a href="#upload_image">Upload Image</a>
			</li>
{#			<li>#}
{#			  <a href="#delete_user">Deactivate Account</a>#}
{#			</li>#}
            <li>
			  <a href="#upload_profile">Upload Profile</a>
			</li>
            <li>
			  <a href="/collages">Collages</a>
			</li>
			{% with messages = get_flashed_messages()%}
			  {% if messages %}
			    {% for message in messages %}
			      <div class="alert alert-warning">
				      <strong>Warning! </strong>{{ message}}
			      </div>
			    {% endfor %}
			  {% endif %}
			{% endwith %}
			<li>
			  <form class = "form-container" method="post" action="logout_submit">
				  <button type="submit" value='logout' class="button2">Log out</button>
			  </form>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			{#  TO DO:#}
			<div class="row">
				<div class="col-lg-12">
					<a class="pull-right btn btn-primary" href="#menu-toggle" id="menu-toggle">☰</a>
				</div>
			</div>
			<h1>Image Gallery</h1>
			<div id="contain"></div>
			<br>

      <form role = "form" class="form-group" method="post" action="query_submit">
				  <input type="text" name='query' class="form-control input-normal" placeholder="Search">
      </form>

        <ul class="list-inline">
        {#<h4>Tags:</h4>#}
            {% for tag in query %}
              <li class="list-inline-item"><h4>{{ tag}}</h4></li>
            {% endfor %}
        </ul>



			<div class="container">
				<div class="row">
					{% for image_name in image_names %}
						<div class="col-lg-3 col-md-4 col-xs-6 thumb" id="img">
						  <div class="thumbnail">
							  <form action="image_info" method="post" id="info">
									<input type="image" src="{{image_name}}" name="image_name" alt="Lights" style="width:100%" value={{image_name}}>
                              </form>
                          <div class="caption">
                  
                </div>
							</div>
					 	</div>
					{% endfor %}

					</div>
				</div>
				<!-->
		<div class="target">
		     <div id="upload_image">
			 <form class="form-container" enctype=multipart/form-data method='post' action='upload_image_submit'>
			     <a href="/homepage">
				 <button type="button" class="close" aria-label="Close">
				     <span aria-hidden="true">&times;</span>
				 </button>
				</a>
			    <div>
			    <label>Image:  </label>
			    <input type='file' name='image'>
			    </div>
			     <br><br>
			    <input type='submit' value='Upload'class="btn btn-success" >
			    <p></p>
			</form>
		    </div>
		       <div id="transform_image">
			 <form class="form-container" enctype=multipart/form-data method='post' action='upload_image_submit'>
			    <div>
			    <label>Image:  </label>
			    <input type='file' name='image'>
			    </div>
			    <input type='submit' value='upload'>
			    <p></p>
			</form>
		    </div>
		    <div id="logout">
			<form method='post' action='logout_submit'>
			    <input type='submit' value='logout'>
			     <p></p>
			 </form>
		    </div>
            <div id="upload_profile">
			 <form class="form-container" enctype=multipart/form-data method='post' action='upload_profile_submit'>
				 <a href="/homepage">
				 <button type="button" class="close" aria-label="Close">
				     <span aria-hidden="true">&times;</span>
				 </button>
				</a>
                 <div>
			    <label>Profile name:  </label>
			    <input type='text' name='profile_name'>
			    </div>
			    <div>
			    <label>Image:  </label>
			    <input type='file' name='profile_image'>
			    </div>
			    <input type='submit' value='Upload'class="btn btn-success" >
			    <p></p>
			 </form>
		    </div>
		</div>
	    </div>
	</div>
	<!-- /#page-content-wrapper -->

			</div>
			<!-- /#wrapper -->

			<!-- Menu Toggle Script -->
			<script>
$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
		}).click();
			</script>

			</body>
			</html>
