<!DOCTYPE html>
<head>
    <title>ECE1779 Flask Examples</title>
</head>
<html>
    <body>
        <ul>
            <li><a href="{{ url_for('homepage')}}">Hello World</a></li>
{#            <li><a href="{{ url_for('example1')}}">Time and logo</a></li>#}
{#            <li><a href="{{ url_for('example2')}}">Time and logo (template)</a></li>#}
{#            <li><a href="{{ url_for('count_collatz_steps',n=5)}}">Collatz steps</a></li>#}
{#            <li><a href="{{ url_for('count_collatz_steps_verbose',n=5)}}">Collatz steps (verbose)</a></li>#}
{#            <li><a href="{{ url_for('add_two_numbers')}}?n1=10&n2=45">Add numbers</a></li>#}
{#            <li><a href="{{ url_for('add_two_numbers_v2_form')}}">Add numbers (form)</a></li>#}
{#            <li><a href="{{ url_for('count')}}">Count</a></li>#}
        </ul>

    <body>    
</html>